# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python_ds\python_webscaping_datascience\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
